html,body{
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    /*font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;*/
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: 1.6rem;
}

html,body,#app{
    height: 100%;
}

a{
    text-decoration: none;
    color: #333;
}