*{
    margin: 0;
    padding: 0;
}

.mainbox{
    width: 1616px;
    font-family: 'Microsoft YaHei';
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: #333;
}

.notice{
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    vertical-align: middle;
    background-color: #f3f3f3;
    position: relative;
}

.notice .hp1{
    float: left;
    margin-left: 207px;
}

.notice .hp1 a{
    text-decoration: none;
    color: #21a557;
}

.notice .hp2{
    float: right;
    margin-right: 207px;
    cursor: pointer;
}

.notice .close{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -676px -222px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 14px;
    right:258px; 
}

.head{
    height: 89px;
    line-height: 89px;
    vertical-align: middle;
    position: relative;
}

.hs1{
    font-size: 21px;
    float: left;
    margin-left: 207px;
    letter-spacing: 2px;
}

.hs1 span{
    color: #39a030;
}

.hs2{
    float: left;
    margin-left: 31px;
    margin-top: 34px;
    display: block;
    width: 54px;   
    background-color: #21a557;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    line-height: 21px;
    cursor: pointer;
}

.hs3{
    float: left;
    font-size: 12px;
    margin-left: 14px;
}

.hs4{
    float: left;
    margin-left: 418px;
    font-size: 16px;
}

.hs5{
    float: left;
    margin-left: 55px;
    font-size: 16px;
}

.hs6{
    float: left;
    margin-left: 55px;
    font-size: 16px;
}

.hs4 a:hover, .hs5 a:hover, .hs6 a:hover{
    color: #39a030;
    cursor: pointer;
}

.search{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -697px -222px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35px;
    right:210px; 
}

.search:hover{
    cursor: pointer;
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -726px -222px;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 35px;
    right:210px; 
}

.banner{
    position: relative;   
}

.banner .fade{
    -webkit-animation: fade 5s 5s linear infinite reverse;
    -moz-animation: fade 5s 5s linear infinite reverse;
    -ms-animation: fade 5s 5s linear infinite reverse;
    -o-animation: fade 5s 5s linear infinite reverse;
}


@-webkit-keyframes fade{
    0%{opacity: 0.5;}
    5%{opacity: 1;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0.5;}
}

@-moz-keyframes fade{
    0%{opacity: 0.5;}
    5%{opacity: 1;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0.5;}
}

@-ms-keyframes fade{
    0%{opacity: 0.5;}
    5%{opacity: 1;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0.5;}
}

@-o-keyframes fade{
    0%{opacity: 0.5;}
    5%{opacity: 1;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0.5;}
}

@keyframes fade{
    0%{opacity: 0.5;}
    5%{opacity: 1;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0.5;}
}

.banner .points{
    position: absolute;
    width: 52px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
}

.banner .points span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
}

.span1{
    background-color: #333;
}

.span2{
    background-color: #fff;
    margin-left: 11px;
    margin-right: 11px;
}

.span3{
    background-color: #fff;
}

.maincontent1{
    height: 297px;
    margin-top: -4px;
    position: relative;
    line-height: 297px;
}

.maincontent1 .box1{
    text-align: center;
    height: 297px;
    width: 1616px;
}

.maincontent1 .gkk{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 175px;
    position: relative;
}

.maincontent1 .gkk .gkklogo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -652px -362px;
    margin-top: 7px;
    width: 80px;
    height: 80px;    
}

.maincontent1 .gkk .gkktitle{
    position: absolute;
    bottom: 154px;
    left: 97px;
    font-size: 22px;
    line-height: 25px;
}

.maincontent1 .gkk .gkktext{
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    left: 97px;
    bottom: 40px;
    text-align: left;
}

.maincontent1 .gkk .gkkmore a{
    color: #39a030;
    font-size: 14px;
    position: absolute;
    left: 97px;
    bottom: 0;
    line-height: 14px;
}

.maincontent1 .ykt{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 175px;
    margin-right: 80px;
    margin-left: 80px;
    position: relative;
}

.maincontent1 .ykt .yktlogo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -744px -362px;
    margin-top: 7px;
    width: 80px;
    height: 80px;    
}

.maincontent1 .ykt .ykttitle{
    position: absolute;
    bottom: 154px;
    left: 97px;
    font-size: 22px;
    line-height: 25px;
}

.maincontent1 .ykt .ykttext{
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    left: 97px;
    bottom: 40px;
    text-align: left;
}

.maincontent1 .ykt .yktmore a{
    color: #39a030;
    font-size: 14px;
    position: absolute;
    left: 97px;
    bottom: 0;
    line-height: 14px;
}

.maincontent1 .mooc{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 175px;
    margin: 0;
    padding: 0;
    position: relative;
}

.maincontent1 .mooc .mooclogo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -835px -362px;
    margin-top: 7px;
    width: 80px;
    height: 80px;    
}

.maincontent1 .mooc .mooctitle{
    position: absolute;
    bottom: 154px;
    left: 97px;
    font-size: 22px;
    line-height: 25px;
}

.maincontent1 .mooc .mooctext{
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    left: 97px;
    bottom: 40px;
    text-align: left;
}

.maincontent1 .mooc .moocmore a{
    color: #39a030;
    font-size: 14px;
    position: absolute;
    left: 97px;
    bottom: 0;
    line-height: 14px;
}

.gkkmore a:hover, .yktmore a:hover, .moocmore a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.maincontent2{
    height: 220px;
}

.maincontent2 div{
    float: left;
}

.maincontent2 .img1{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 220px;
}

.maincontent2 .img2{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -322px 0;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent2 .img3{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -644px 0;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent2 .img4{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: 0 -222px;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent2 .img5{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -322px -222px;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent3{
    background-color: #f8f8f8;
    height: 1550px;
}

.maincontent3 .box2{
    margin-right: 205px;
    margin-left: 205px;
}

.maincontent3 .box2 .intro{
    background-color: #fff;
    width: 225px;
    height: 230px;
    float: right;
    margin-top: 84px;
    box-shadow: -2px 2px #ddd;
}

.maincontent3 .box2 .intro .intro-title{
    font-size: 16px;
    color: #333;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    box-shadow: 0 2px #ddd;
}

.maincontent3 .box2 .intro .intro-video{
    width: 180px;
    margin: 0 auto;
}

.maincontent3 .box2 .intro .intro-video p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.maincontent3 .box2 .intro .intro-video .intro-video-img{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -652px -246px;
    width: 180px;
    height: 110px;
    cursor: pointer;
}

.maincontent3 .box2 .hot{
    float: right;
    background-color: #fff;
    width: 225px;
    margin-right: -225px;
    margin-top: 334px;
    box-shadow: -2px 2px #ddd;
    height: 778px;
    box-sizing: border-box;
}

.maincontent3 .box2 .hot:hover{
    border-right: 2px #ccc solid;
}

.maincontent3 .box2 .hot .hot-rank{
    font-size: 16px;
    color: #333;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    box-shadow: 0 2px #ddd;    
}

.maincontent3 .box2 .hot .hot-items{
    height: 50px;
    margin: 20px;
}

.maincontent3 .box2 .hot .hot-items .hot-img{
    width: 50px;
    height: 50px;
    float: left;
}

.maincontent3 .box2 .hot .hot-items .hot-title{
    font-size: 14px;
    line-height: 14px;
    color: #333;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
}

.maincontent3 .box2 .hot .hot-items .hot-people{
    font-size: 9px;
    line-height: 11px;
    vertical-align: middle;
    color: #999;
    margin-left: 62px;
    margin-top: 13px;
}

.hot-people-logo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -757px -222px;
    width: 9px;
    height: 11px; 
    float: left;
    padding-right: 6px;
}

.maincontent3 .box2 .design{
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 80px;
    background-color: #39a030;
    color: #fff;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 1px #d4d3d3;
    cursor: pointer;
}

.maincontent3 .box2 .language{
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 80px;
    background-color: #fff;
    color: #666;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 1px #d4d3d3;
    cursor: pointer;
}

.row{
    width: 960px;
    height: 228px;
}

.maincontent3 .box2 .row .cls{
    float: left;
    width: 225px;
    height: 228px;
    background-color: #fff;
    box-shadow: 2px 2px 1px #e6e6e6;
    cursor: pointer;
}

.maincontent3 .box2 .row .cls:hover{
    box-shadow: 4px 4px 2px #ddd;
}

.maincontent3 .box2 .row1 .cls{
    margin-top: 160px;
}

.row1 .cls1{
    margin-left: -400px
}

.row1 .cls2{
    margin-left: -155px;
}

.row1 .cls3,.row1 .cls4{
    margin-left: 20px;
}

.maincontent3 .box2 .row2 .cls,
.maincontent3 .box2 .row3 .cls,
.maincontent3 .box2 .row4 .cls,
.maincontent3 .box2 .row5 .cls{
    margin-top: 20px;
}

.row2 .cls2, .row2 .cls3, .row2 .cls4,
.row3 .cls2, .row3 .cls3, .row3 .cls4,
.row4 .cls2, .row4 .cls3, .row4 .cls4,
.row5 .cls2, .row5 .cls3, .row5 .cls4{
    margin-left: 20px;
}

.cls-img{
    width: 223px;
    height: 124px;
    margin: 1px;
}

.cls-title{
    line-height: 30px;
    font-size: 12px;
    vertical-align: middle;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
    padding-left: 5px;
}

.cls-title:hover{
    color: #39a030;
}

.cls-teacher{
    line-height: 12px;
    font-size: 12px;
    color: #999;
    padding-left: 5px;
}

.cls-students{
    width: 56px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 8px;
    color: #999;
    text-align: center;
    
    padding-right: 3px;
    box-sizing: border-box;
}

.cls-students-logo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -757px -222px;
    width: 9px;
    height: 11px; 
    float: left;
    margin: 3px;
}

.cls-price{
    line-height: 10px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    color: #ff3f00;
}

.pages10{
    width: 302px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    float: right;
    margin-right: 245px;
    margin-top: 30px;
    cursor: pointer;
    display: block;
}

.pages20{
    width: 302px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    float: right;
    margin-right: 245px;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.pages10 span,.pages20 span{
    display: inline-block;
    float: left;
}

.pages10 .pages-0,.pages10 .pages-9,
.pages20 .pages-0,.pages20 .pages-9{
    width: 31px;
    height: 20px;
    text-align: center;
    color: #fff;
    background-color: #9dd8b1;
    font-size: 15px;
    font-weight: bold;
}

.pages10 .pages-num,.pages20 .pages-num{
    width: 20px;
    text-align: center;
    color: #888;
    font-size: 13px;
    margin: 0 5px;
}

.pages10 .pages-num:hover,
.pages20 .pages-num:hover{
    background-color: #9dd8b1;
    color: #fff;
}

footer{
    height: 262px;
    background-color: #2c3339;
}

footer div{
    float: left;
    color: #bebfc0;
    margin-top: 74px;
}

footer .fp0{
    font-size: 21px;
    color: #39a030;
    line-height: 65px;
    vertical-align: middle;
}

footer .fp1{
    font-size: 12px;
    line-height: 25px;
}

footer .fp2{
    font-size: 13px;
    line-height: 29px;
    vertical-align: middle;
}

footer .fp3 a{
    color: #bebfc0;
    font-size: 14px;
    line-height: 29px;
    vertical-align: middle;
}

footer .fp3 a:hover{
    text-decoration: underline;
}

.footer1{
    margin-left: 256px;
}

.footer2{
    margin-left: 150px;
}

.footer3,.footer4{
    margin-left: 100px;
    position: relative;
}

.footer3 .weibologo{
    display: inline-block;
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -644px -222px;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 20px;
    left:40px;    
}

.footer4 .hide{
    visibility: hidden;
}

.v-background{
    position:fixed; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.v-window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 950px;
    height: 576px;
}

.v-window p{
    font-size: 18px;
    font-family: 'Microsoft YaHei';
    line-height: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.v-window .v-close,.l-window .l-close{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -774px -222px;
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 12px;
    margin-top: 12px;
    cursor: pointer;
}

.v-window .v-video{
    margin-left: 50px;
}

.login{
    position:fixed; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.l-window{
    font-family: 'Microsoft YaHei';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 387px;
    height: 288px;
}

.l-window p{
    line-height: 18px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.l-window input{
    margin-left: 40px;
    margin-top: 15px;
    display: block;
    width: 295px;
    height: 45px;
    border: #dfdfdf 1px solid;
    padding-left: 10px;
    box-sizing: border-box;
}

.l-window #submit-btn{
    width: 293px;
    height: 46px;
    background-image: linear-gradient(#28ae4c,#148f2f);
    margin-left: 41px;
    margin-top: 30px;
    color: #fff;
    line-height: 46px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

