*{
    margin: 0;
    padding: 0;
}

.mainbox{
    width: 1616px;
    font-family: 'Microsoft YaHei';
}

a{
    text-decoration: none;
    color: #333;
}

.notice{
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    vertical-align: middle;
    background-color: #f3f3f3;
    position: relative;
}

.notice .hp1{
    float: left;
    margin-left: 207px;
}

.notice .hp1 a{
    text-decoration: none;
    color: #21a557;
}

.notice .hp2{
    float: right;
    margin-right: 207px;
}

.notice .close{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -676px -222px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 14px;
    right:258px; 
}

.head{
    height: 89px;
    line-height: 89px;
    vertical-align: middle;
    position: relative;
}

.hs1{
    font-size: 21px;
    float: left;
    margin-left: 207px;
    letter-spacing: 2px;
}

.hs1 span{
    color: #39a030;
}

.hs2{
    float: left;
    margin-left: 31px;
    margin-top: 34px;
    display: block;
    width: 54px;   
    background-color: #21a557;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;
    line-height: 21px;
}

.hs3{
    float: left;
    font-size: 12px;
    margin-left: 14px;
}

.hs4{
    float: left;
    margin-left: 418px;
    font-size: 16px;
}

.hs5{
    float: left;
    margin-left: 55px;
    font-size: 16px;
}

.hs6{
    float: left;
    margin-left: 55px;
    font-size: 16px;
}

.hs4 a:hover, .hs5 a:hover, .hs6 a:hover{
    color: #39a030;
    cursor: pointer;
}

.search{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -697px -222px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 35px;
    right:210px; 
}

.search:hover{
    cursor: pointer;
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -726px -222px;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 35px;
    right:210px; 
}

.banner{
    position: relative;
}

.banner .points{
    position: absolute;
    width: 52px;
    height: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
}

.banner .points span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
}

.span1{
    background-color: #333;
}

.span2{
    background-color: #fff;
    margin-left: 11px;
    margin-right: 11px;
}

.span3{
    background-color: #fff;
}

.maincontent1{
    height: 297px;
    margin-top: -4px;
    position: relative;
    line-height: 297px;
}

.maincontent1 .box1{
    text-align: center;
    height: 297px;
    width: 1616px;
}

.maincontent1 .gkk{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 175px;
    position: relative;
}

.maincontent1 .gkk .gkklogo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -652px -362px;
    margin-top: 7px;
    width: 80px;
    height: 80px;    
}

.maincontent1 .gkk .gkktitle{
    position: absolute;
    bottom: 154px;
    left: 97px;
    font-size: 22px;
    line-height: 25px;
}

.maincontent1 .gkk .gkktext{
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    left: 97px;
    bottom: 40px;
    text-align: left;
}

.maincontent1 .gkk .gkkmore a{
    color: #39a030;
    font-size: 14px;
    position: absolute;
    left: 97px;
    bottom: 0;
    line-height: 14px;
}

.maincontent1 .ykt{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 175px;
    margin-right: 80px;
    margin-left: 80px;
    position: relative;
}

.maincontent1 .ykt .yktlogo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -744px -362px;
    margin-top: 7px;
    width: 80px;
    height: 80px;    
}

.maincontent1 .ykt .ykttitle{
    position: absolute;
    bottom: 154px;
    left: 97px;
    font-size: 22px;
    line-height: 25px;
}

.maincontent1 .ykt .ykttext{
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    left: 97px;
    bottom: 40px;
    text-align: left;
}

.maincontent1 .ykt .yktmore a{
    color: #39a030;
    font-size: 14px;
    position: absolute;
    left: 97px;
    bottom: 0;
    line-height: 14px;
}

.maincontent1 .mooc{
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    height: 175px;
    margin: 0;
    padding: 0;
    position: relative;
}

.maincontent1 .mooc .mooclogo{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -835px -362px;
    margin-top: 7px;
    width: 80px;
    height: 80px;    
}

.maincontent1 .mooc .mooctitle{
    position: absolute;
    bottom: 154px;
    left: 97px;
    font-size: 22px;
    line-height: 25px;
}

.maincontent1 .mooc .mooctext{
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    left: 97px;
    bottom: 40px;
    text-align: left;
}

.maincontent1 .mooc .moocmore a{
    color: #39a030;
    font-size: 14px;
    position: absolute;
    left: 97px;
    bottom: 0;
    line-height: 14px;
}

.gkkmore a:hover, .yktmore a:hover, .moocmore a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.maincontent2{
    height: 220px;
}

.maincontent2 div{
    float: left;
}

.maincontent2 .img1{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 320px;
    height: 220px;
}

.maincontent2 .img2{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -322px 0;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent2 .img3{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -644px 0;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent2 .img4{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: 0 -222px;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent2 .img5{
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -322px -222px;
    margin-left: 4px;
    width: 320px;
    height: 220px;
}

.maincontent3{
    background-color: #f8f8f8;
    height: 1550px;
}

.maincontent3 .box2{
    margin-right: 205px;
    margin-left: 205px;
}

.maincontent3 .box2 .intro{
    background-color: #fff;
    width: 225px;
    height: 230px;
    float: right;
    margin-top: 84px;
    box-shadow: -2px 2px #ddd;
}

.maincontent3 .box2 .intro .intro-title{
    font-size: 16px;
    color: #333;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    box-shadow: 0 2px #ddd;
}

.maincontent3 .box2 .intro .intro-video{
    width: 180px;
    margin: 0 auto;
}

.maincontent3 .box2 .intro .intro-video p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.maincontent3 .box2 .hot{
    float: right;
    background-color: #fff;
    width: 225px;
    margin-right: -225px;
    margin-top: 334px;
    box-shadow: -2px 2px #ddd;
    height: 778px;
}

.maincontent3 .box2 .hot .hot-rank{
    font-size: 16px;
    color: #333;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    box-shadow: 0 2px #ddd;    
}

.maincontent3 .box2 .design{
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 80px;
    background-color: #39a030;
    color: #fff;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 1px #d4d3d3;
    cursor: pointer;
}

.maincontent3 .box2 .language{
    float: left;
    width: 200px;
    height: 50px;
    margin-top: 80px;
    background-color: #fff;
    color: #666;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 1px #d4d3d3;
    cursor: pointer;
}

.row{
    width: 960px;
    height: 228px;
}

.maincontent3 .box2 .row .cls{
    float: left;
    width: 225px;
    height: 228px;
    background-color: #fff;
    box-shadow: 2px 2px 1px #e6e6e6;
}

.maincontent3 .box2 .row1 .cls{
    margin-top: 160px;
}

.row1 .cls1{
    margin-left: -400px
}

.row1 .cls2{
    margin-left: -155px;
}

.row1 .cls3,.row1 .cls4{
    margin-left: 20px;
}

.maincontent3 .box2 .row2 .cls,
.maincontent3 .box2 .row3 .cls,
.maincontent3 .box2 .row4 .cls,
.maincontent3 .box2 .row5 .cls{
    margin-top: 20px;
}

.row2 .cls2, .row2 .cls3, .row2 .cls4,
.row3 .cls2, .row3 .cls3, .row3 .cls4,
.row4 .cls2, .row4 .cls3, .row4 .cls4,
.row5 .cls2, .row5 .cls3, .row5 .cls4{
    margin-left: 20px;
}

footer{
    height: 262px;
    background-color: #2c3339;
}

footer div{
    float: left;
    color: #bebfc0;
    margin-top: 74px;
}

footer .fp0{
    font-size: 21px;
    color: #39a030;
    line-height: 65px;
    vertical-align: middle;
}

footer .fp1{
    font-size: 12px;
    line-height: 25px;
}

footer .fp2{
    font-size: 13px;
    line-height: 29px;
    vertical-align: middle;
}

footer .fp3 a{
    color: #bebfc0;
    font-size: 14px;
    line-height: 29px;
    vertical-align: middle;
}

footer .fp3 a:hover{
    text-decoration: underline;
}

.footer1{
    margin-left: 256px;
}

.footer2{
    margin-left: 150px;
}

.footer3,.footer4{
    margin-left: 100px;
    position: relative;
}

.footer3 .weibologo{
    display: inline-block;
    background-image: url(../img/sprite.jpg);
    background-repeat: no-repeat;
    background-position: -644px -222px;
    width: 20px;
    height: 16px;
    position: absolute;
    top: 20px;
    left:40px;    
}

.footer4 .hide{
    visibility: hidden;
}


