.mainbox{
	
	width: 1080px;
	margin: 0 auto;
}
body{
	background-image:url(images/bj.gif); 
}
.top-logo{
	height: 95px;
	line-height: 95px;
}
.logo1{
	float: left;
	margin-top: 32px;
}
.tel{
	float: right;
	margin-top: 32px;
}
.top-menu ul li{
	display: inline-block;
	line-height: 44px;
	background: url(images/navimg.jpg) no-repeat right center;
	width: 90px;
	text-align: center;
	font-size: 18px;
	font-family: "微软雅黑";
}
.top-menu{
	background: url(images/navbj.jpg) repeat-x;
}
.bannerbtn span{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border: 1px #FFF solid;
	text-align: center;
	color: #FFF;
}
.bannerbtn span:hover{
	background-color: #F00;
}
.banner{
	position: relative;
}
.bannerbtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.red{
	background-color: red;
}
.mid-top{
	height: 360px;
	background: url(images/content_bg.jpg);
}
.mid-top-left,.mid-top-mid,.mid-top-right{
	background: url(images/content_sm_bg.jpg);
	height: 336px;
	display: inline-block;
	float: left;
	border:1px solid #CCC;
}
.mid-top-left,.mid-top-right{
	width: 335px;
}
.mid-top-mid{
	width: 370px;
	margin-left: 17px;
	margin-right: 17px;
}
.mtl-1 span,.mtm-1 span,.mtr-1 span,.mbl span,.mbr span{
	font: 18px bold "微软雅黑";
	color: #930;
	line-height: 55px;
}
.mtl-2,.mtm-2,.mtr-2{
	text-align: center;
	margin: 15px;
}
.mtl-3,.mtm-3,.mtr-3{
	font-size: 12px;
	font-family: #5D5A5A;
	line-height: 30px;
	text-align: left;
	margin-left: 40px;
	margin-right: 40px;
}
.mtl-3 li{
	border-bottom: 1px dotted #5D5A5A;
}
.mid-btm{
	background: url(images/content_sm_bg.jpg);
	height: 336px;
}
.mbl,.mbr{	
	height: 336px;
	display: inline-block;
	float: left;
	border:1px solid #CCC;
}
.mbl{
	width: 335px;
	margin-right: 17px;
}
.mbr{
	width: 724px;
}
#demo{

	width: 680px;
	position: relative;
	left: 375px;
	top:-224px;
	border: 1px solid #DDD;
	overflow: hidden;

}
#indemo{
	width: 900%;
	float: left;
}
#demo1,#demo2,#box{
	float: left;
}
#box{
	margin-right: 30px;
}
.btm{
	font-size: 12px;
	color: black;
	line-height: 20px;
	margin-bottom: 10px;
}